  <%- include('../partials/header') %>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
         <a href="/skills/<%= s.id %>"><%= s.skill %></a> 
            - 
          <%= s.yay ? 'yay' : 'not fun' %>
        </li>
      <% }); %>
    </ul>

    <%- include('../partials/footer') %>

